@model PRUEBAS_LOGIN.Models.Usuario

@{
    ViewBag.Title = "EditarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="card border-secondary">
            <div class="card-header bg-dark text-white">
                <h4>EDITAR USUARIO</h4>
            </div>
            <div class="card-body">
                <form action="@Url.Action("EditarUsuario", "Usuario")" method="post">
                    <input type="hidden" class="form-control" name="IdUsuario" value="@Html.DisplayTextFor(p => p.IdUsuario)" required />

                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" class="form-control" name="Nombre" value="@Html.DisplayTextFor(p => p.Nombre)" required />
                    </div>

                    <div class="form-group">
                        <label>Correo:</label>
                        <input type="text" class="form-control" name="Correo" value="@Html.DisplayTextFor(p => p.Correo)" required />
                    </div>

                    <div class="form-group mt-2">
                        <label>Rol:</label>
                        @Html.DropDownListFor(
                            m => m.Id_rol,
                            new SelectList(Enum.GetValues(typeof(PRUEBAS_LOGIN.Models.Rol))
                                .Cast<PRUEBAS_LOGIN.Models.Rol>()
                                .Select(r => new { Value = r, Text = r.ToString() }),
                            "Value", "Text", Model.Id_rol)
                        )
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                    <a class="btn btn-warning mt-3" href="@Url.Action("Usuarios", "Usuario")">Regresar</a>
                </form>
            </div>


        </div>

    </div>
</div>
